{% extends "base.html" %}
{% block content %}
<h1>Kurssikokemukset</h1>

<form method="get">
  <label for="q">Haku</label>
  <input id="q" name="q" value="{{ q|default('') }}">
  <button type="submit">Hae</button>
  <a href="{{ url_for('experience_list') }}">Tyhjennä</a>
</form>

<hr>

{% for e in experiences %}
  <article class="card">
    <h2>{{ e["course_name"] }}</h2>
    <p><em>Lisännyt:
<a href="{{ url_for('user_page', username=e["username"]) }}">{{ e["username"] }}</a>

    <p class="user-text">{{ e["content"] }}</p>

    <p>
      <a href="{{ url_for('experience_detail', experience_id=e["id"]) }}">Näytä</a>
      |
      <a href="{{ url_for('comment_form', experience_id=e["id"]) }}">Lisää kommentti</a>
    </p>



    {% if session.get("user_id") and session.get("user_id") == e["user_id"] %}
      <a href="{{ url_for('experience_edit', experience_id=e['id']) }}">Muokkaa</a>
      <form method="post" action="{{ url_for('experience_delete', experience_id=e['id']) }}" style="display:inline;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit">Poista</button>
      </form>
    {% endif %}
  </article>
  <hr>
{% else %}
  <p>Ei kokemuksia.</p>

{% endfor %}

{% endblock %}

