{% extends "base.html" %}
{% block content %}
{% if mode == "create" %}
  <h1>Lisää kurssikokemus</h1>
{% else %}
  <h1>Muokkaa kurssikokemusta</h1>
{% endif %}

<form method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label for="course_name">Kurssin nimi</label><br>
  <input id="course_name" name="course_name" required
         value="{{ exp['course_name'] if exp else '' }}"><br><br>

  <label for="content">Kokemus</label><br>
  <textarea id="content" name="content" rows="8" cols="60" required>{{ exp['content'] if exp else '' }}</textarea><br><br>
<h3>Luokat</h3>

{% if categories %}
  {% for c in categories %}
    <label>
      <input
        type="checkbox"
        name="category_ids"
        value="{{ c['id'] }}"
        {% if c['id'] in selected_category_ids %}checked{% endif %}
      >
      {{ c['name'] }}
    </label><br>
  {% endfor %}
{% else %}
  <p>(Ei luokkia tietokannassa)</p>
{% endif %}

<div style="margin-top: 18px;">
  <button type="submit" class="btn-ghost">Tallenna</button>
</div>
</form>
{% endblock %}
